.heading-1 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
}

.heading-2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
}

.full-height {
    height: 100vh;
}

.blue-text {
    color: rgba(59,130,246,1);
}

.text-mute {
    font-style: italic;
    color: rgba(107,114,128,1);
}

.button-container {
    padding: 1.25rem;
}

.button {
    text-transform: uppercase;
    color: white;
    padding: 1rem;
    font-weight: 700;
    border-radius: 0.25rem;
    background-color: rgba(59,130,246,1);
}

.flex-col,
.flex-row {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-col.center,
.flex-row.center {
    justify-content: center;
    align-items: center;
}

.section-title {
    margin-bottom: 2rem;
}